*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;

  @media (max-width: 600px) {
    font-size: 50%;
  }
  @include respond-phone {
    font-size: 50%;
  }
}
body {
  box-sizing: border-box;
}
